**/.vscode
**/.vs
**/*.[Pp]ublish.xml
**/*.csproj.user
**/*.vspscc
**/*.suo
**/*.user
**/*.userossc
**/*.sln.docstates
**[Dd]ebug/
**[Rr]elease/
**/bin/
**/obj/
**/Scripts/
*.nuget.props
*.nuget.targets
**/Packages.props
*.pfx
*.snk